
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --p-violet:hsl(257, 40%, 49%);
    --p-soft-M:hsl(300, 69%, 71%);
    --fw-b:600;
    --fw-n:400;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.landing {
    min-height: 100vh;
    background: url(images/bg-desktop.svg) var(--p-violet) no-repeat;
    background-size: cover;
}
.container {
    width:85%;
    margin: auto ;
}
@media (max-width:576px) {
    .container :not(:first-child) {
        text-align: center;
    }
}
.container .logo {
   width: 100%;
   margin-bottom: 80px;
   padding-top: 40px;
}
@media (max-width:576px) {
    .container .logo {
        margin-bottom: 20px;
        padding-top:20px ;
    }
}
.container .logo img {
    width: 170px;
}
.container .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: space-evenly;
}
.container .grid .description {
    flex-grow: 1;
     width: 341px;
   
}
@media (min-width:992px) {
    .container .grid .description {
         margin-top: 20px;
    }
}
.container .img {
    flex-grow: 1;
    width: 500px;
}
.container .grid .img img {
     max-width: 100%;
     margin: auto;
     object-fit: cover;
     max-height: 356px;
}
.container .grid h1 {
    color: white ;
    line-height: 1.6;
    font-size: calc(1.4rem + 1vw);
    margin-bottom: 20px;
    font-weight: bolder;
}


.container .grid p {
    color: white ;
    line-height: 1.6;
    font-size: calc(0.7rem + .4vw);
    margin-bottom: 20px;
    width: 90%;
}
.container .grid a {
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container .grid a:hover {
    color: white;
    background-color: var(--p-soft-M);
}
@media (max-width:576px) {
    .container .grid a {
        margin: auto;
        width: 70%;
        height: 40px;
    }
}
 .landing .container .logos {
     width: 100%;
     display: flex;
     gap: 25px;
     justify-content: flex-end;
     color: beige;
     padding: 25px 0 25px;
 }
 @media (max-width:576px) {
    .landing .container .logos {
       justify-content: center;
       margin-top: 40px;
    }
 }
 
 .landing .container .logos svg {
     width: 32px;
     height: 32px;
     padding: 5px;
     border-radius: 50%;
     border: 1px solid white;

 }
 .landing .container .logos svg:hover {
     border: 1px solid var(--p-soft-M);
     fill: var(--p-soft-M);
     cursor: pointer;
 }
  
